In [27]:
import pandas as pd
df=pd.read_csv("PhoneDatabase.csv")
df

ParserError: Error tokenizing data. C error: Expected 127 fields in line 8, saw 131

In [12]:
df['currency'].value_counts()

CNY    1987
INR     376
MXN     318
GBP     249
EUR     229
RUB     174
JPY     142
USD     107
MYR      87
THB      62
TWD      55
IDR      39
AUD      29
CAD      29
AED       9
BRL       3
KRW       1
Name: currency, dtype: int64

In [25]:
grouping_columns = df.columns.difference(['Released', 'Price'])
grouped_df = df.groupby(['currency', 'Model'])

# Calculate the latest time and mean price for each group
result_df = grouped_df.agg({'Price': 'mean'}).reset_index()

# Display the result
print("\nResult DataFrame:")
result_df

Result DataFrame:

    currency                                              Model   Price
0        AED  SM-A245F/DSN Galaxy A24 4G 2023 Standard Editi...   849.0
1        AUD     Pad 2 11.6 Standard Edition WiFi 256GB OPD2201   699.0
2        BRL  SM-A245M/DSN Galaxy A24 4G 2023 Standard Editi...  1599.0
3        CAD  SM-T638U Galaxy Tab Active4 Pro 5G 10.1 2022 S...   999.0
4        CNY  20 Infinity 5G Premium Edition Dual SIM TD-LTE...  8499.0
..       ...                                                ...     ...
146      USD                   Defy 2 5G NTN Dual SIM TD-LTE NA   599.0
147      USD  SM-T630 Galaxy Tab Active4 Pro WiFi 10.1 2022 ...   709.0
148      USD  SM-T630 Galaxy Tab Active4 Pro WiFi 10.1 2022 ...   649.0
149      USD  SM-T638U Galaxy Tab Active4 Pro 5G 10.1 2022 P...   829.0
150      USD              XR20 2021 5G Dual SIM TD-LTE AM 128GB   349.0

[151 rows x 3 columns]

In [20]:
mean_values

Empty DataFrame
Columns: [Aux. 2 Camera Number of Pixels, Touchscreen Type, Camera Image Sensor, Aux. 2 Camera Image Sensor, Immersion into liquids (depth limit), Protection against mechanical impacts, RAM Type, Battery Cells in Parallel, Keyboard, Nominal Battery Voltage, A/V In Connector, Aux. 2 Cam. Min. Equiv. Focal Length, General Extras, Market Regions, Aux. 3 Camera Aperture (W), Camera Placement, Expansion Interfaces, Dual Cellular Network Operation, Aux. Camera Focus, Brand, Device Category, SAR (body), Codename, NFC, Zoom, Released, SIM Card Slot, Protection from solid materials, Supported Galileo service(s), USB, Supported Cellular Bands, Graphical Controller, Aux. 2 Camera Aperture (W), Height, Software Extras, Secondary Display Pixel Density (dot pitch), Aux. 3 Cam. Min. Equiv. Focal Length, Protection from liquids, Sec. Aux. Camera Number of Pixels, Announced, Complementary Phone Services, RAM Capacity (converted), Camera Extra Functions, Built-in gyroscope, Supported Cellular Data Links, Supported BeiDou system (BDS), Sec. SIM Card Slot, Aperture (W), Min. Equiv. Focal Length, Aux. 3 Camera Image Sensor, Non-volatile Memory Interface, Loudspeaker(s), Aux. 4 Camera Image Sensor, Sec. Supported Cellular Data Links, IR, Estimated Battery Life, Aux. Camera Extra Functions, Aux. 3 Camera Number of Pixels, Number of effective pixels, 2nd highest SAR (head), Market Countries, Serial, Aperture (T), Flash, Aux. Camera Aperture (W), CPU Clock, Secondary Camera Number of pixels, Depth, Secondary Camera Placement, CPU, Secondary Camera Focus, Video Recording, Secondary Camera Sensor, Added, Horizontal Full Bezel Width, Immersion into liquids time limit, Display Diagonal, Mass, Pixel Density, Microphone(s), Number of Display Scales, Display Type, Supported GLONASS protocol(s), GPU Clock, Wireless LAN, Model, Secondary Camera Extra Functions, Built-in accelerometer, Bluetooth, Nominal Battery Capacity, Non-volatile Memory Capacity (converted), Aux. Cam. Min. Equiv. Focal Length, Secondary Display Refresh Rate, A/V Out, Focus, Built-in compass, FM Radio Receiver, Operating System, Display Area Utilization, Display Notch, ...]
Index: []

[0 rows x 136 columns]